@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

@font-face {
    font-family: "exo";
    src: url("../../public/fonts/Exo-Regular.otf");
}

@font-face {
    font-family: "exo-bold";
    src: url("../../public/fonts/Exo-Bold.otf");
}

.wrapper{
    @apply px-5 w-full mx-auto
    lg:w-[90%];
}

.top{
    @apply flex flex-col
    md:flex-row;
}

.right{
    background: linear-gradient(199.65deg, #DD24E1 1.5%, #5117F4 102.15%);
}

.connect-btn{
    @apply py-[10px] px-[15px] hidden;
    border-radius: 8px;
    border: solid 1px #ffffff;
    font-size: 18px;
    letter-spacing: 0.04em;
    line-height: 27px;
}